<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lakshman.ucexpress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/Register" />
        <activity
            android:name=".RestaurantDetailsActivity"
            android:label="@string/resdet" />
        <activity
            android:name=".EventsActivity"
            android:label="@string/events" />
        <activity
            android:name=".UtilityActivity"
            android:label="@string/utility" />
        <activity
            android:name=".OtherFacilitiesActivity"
            android:label="@string/otherFacility" />
        <activity
            android:name=".ListOfRestaurantsActivity"
            android:label="List of Restaurants" />
        <activity android:name=".CCMenuActivity" />
        <activity
            android:name=".SubwayActivity"
            android:label="Subway" />
        <activity
            android:name=".ChickfilaActivity"
            android:label="Chick-Fil-A" />
        <activity
            android:name=".SushicActivity"
            android:label="Sushic" />
        <activity
            android:name=".MoesActivity"
            android:label="Moes" />
        <activity
            android:name=".PandaExpressActivity"
            android:label="Panda Express" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
